<div class="container">
 <div class="jumbotron">
  <img src="vfxsurgery_logo_white.png" class="img-responsive" alt="Responsive image"></img>
 </div>
 <div class="alert alert-info">
  <span class="index-info"></span>
    <p class="index-info">Welcome to VFX Surgery. A team of responsive artists, ready to fix your shots and get you ready for that deadline! </p>
  <a href="#" class="close"><span class="icon-cross"></span></a>
 </div>
 <div class="grid_6">
     <div class="row">
  <div class="col-md-6">
    <section class="widget storage">
      <header class="header header-quaternary">
        <h3> <span class="glyphicon glyphicon-check" aria-hidden="true"></span> What we can offer you</h3>
      </header>
      <article>
        <ul>
          <li>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Fast response times
          </li>
          <li>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Unlimited revisions
          </li>
          <li>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> An array of industry tools
          </li>
          <li>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> A passion for creating the perfect shot
          </li>
        </ul>
      </article>
    </section>
    </div>
    <div class="col-md-6">
    <div class="feedback">
      <article class="post-2">
        <div class="details">
          <p>Simply sign up. Send us a shot and a quick overview of what you want fixed. We will review and assign it one of our three fixed prices. Then we fix the shot. Once your happy with the changes. You pay for the work and download the fixed shot. No more stress when that deadline is approaching. Simply offload those little problems to us and we will keep you on track.</p>
        <div class="btn-details-signup">
        <a href="#" class="btn btn-secondary btn-small btn-block btn-caps">Sign up <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
        </div>
        </div>
      </article>
    </div>
   </div> 
   </div>    
  </div>
</div>


 