<div class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <nav class="nav btn-navbar-1 grid_12 navbar-left"> 
          <ul>
           <li><a href="/"> <img alt="Brand" class="brand-logo" src="vfxsurgery_logo_white.png"></a></li>       
           <li><a href="/" class="btn">Home</a></li>
           <li><a href="#" class="btn">FAQs</a></li>
           <li><a href="/contact" class="btn">Contact</a></li>
          </ul>
          <p class="nav navbar-right">
            <button href="#" class="btn"><%= link_to('Sign up', new_user_registration_path) %></button>
            <button href="#" class="btn"><%= link_to('Sign In', new_user_session_path) %></button> 
          </p>
    </div>
  </div>
</nav>
</div>